body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    margin: 0;
}

.centered {
        text-align: center;
}

.app-header {
    background: white;
    padding: 15px 20px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

.logo {
    margin: 0;
    font-size: 22px;
    color: black;
}


.container {
    /*max-width: 500px;*/
    margin: 0 auto;
    /*background: white;*/
    /*padding: 20px;*/
    border-radius: 10px;
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
}

h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 14px;
}

.thumbnail-container {
    display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* FLEX CONTAINER FOR LAYOUT */
.photo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/* BUTTONS */
.btn {
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
}

.pass {
    background: #ff89a5;
    color: white;
    height: 250px;
    border-radius: 0 10px  10px 0 ;
}

.go {
    background: #4CAF50;
    color: white;
    height: 250px;
    border-radius: 10px 0 0 10px;
}

a.btn {
  display: flex;
  align-items: center; /* vertically centers */
  justify-content: center; /* horizontally centers (optional) */
  text-decoration: none;
}

.btn:hover {
    opacity: 0.8;
}

/* IMAGE AND METADATA */
.photo-card {
    flex-grow: .25;
    text-align: center;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo {
    width: 100%;
    display: block;
}

.photo-info {
    padding: 10px;
}

h2 {
    margin: 10px 0;
    font-size: 18px;
}

.meta p {
    font-size: 14px;
    color: #444;
    margin: 5px 0;
}

.metadata-container {
    padding:20px
}


.image-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;  /* Allows items to expand */
    min-width: 100px; /* Ensures a minimum width before wrapping */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.image-container {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.metadata {
    margin-top: 10px;
}

.back-link {
    color: #4d4d4d;
    font-size: 14px;
    display: block;
    margin: 10px 0 25px 0;
    text-decoration: none;
}
.title {
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0 20px 0;
}
.info {
    font-size: 16px;
    color: #4d4d4d;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.info svg {
    margin-top: -3px; /* awkward center offset */
    width: 22px;
    height: 22px;
    margin-right: 8px;
    fill: white;
    /*stroke: black;*/
}
.caption {
    font-size: 16px;
    color: #d48c3e;
    margin-top: 15px;
    cursor: pointer;
    text-decoration: underline  ;
}