body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    /*padding: 20px;*/
}

.app-header {
    background: white;
    padding: 15px 20px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

.logo {
    margin: 0;
    font-size: 22px;
    color: black;
}


.container {
    /*max-width: 500px;*/
    margin: 0 auto;
    /*background: white;*/
    /*padding: 20px;*/
    border-radius: 10px;
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
}

h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 14px;
}

/* FLEX CONTAINER FOR LAYOUT */
.photo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/* BUTTONS */
.btn {
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
}

.pass {
    background: #ff89a5;
    color: white;
    height: 250px;
    border-radius: 0 10px  10px 0 ;
}

.go {
    background: #4CAF50;
    color: white;
    height: 250px;
    border-radius: 10px 0 0 10px;
}

.btn:hover {
    opacity: 0.8;
}

/* IMAGE AND METADATA */
.photo-card {
    flex-grow: 1;
    text-align: center;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo {
    width: 100%;
    display: block;
}

.photo-info {
    padding: 10px;
}

h2 {
    margin: 10px 0;
    font-size: 18px;
}

.meta p {
    font-size: 14px;
    color: #444;
    margin: 5px 0;
}
