{% extends "_page_template.html" %}
{% block body %}


    <div class="container centered">
        <h1>Tag some photos</h1>
        <p>Swipe right to add info. Swipe left to skip.</p>

        <!-- Flex container for the layout -->
        <div class="photo-container">
            <button class="btn pass">← Pass</button>

            <div class="photo-card">
                <img src="https://placehold.co/800x600" alt="" class="photo">
                <h2>{{album_name}}</h2>
                <div class="photo-info">
                    <div class="meta">
                        <p><strong>Dates:</strong> Unknown</p>
                        <p><strong>Comments:</strong> 3</p>
                        <p><strong>Location:</strong> Oregon State Zoo, Unknown</p>
                    </div>
                </div>
            </div>

            <a class="btn go" href="/albums/{{album_uuid}}">Let's go! →</a>
        </div>
    </div>

{% endblock %}
